$bg-color:#333; /*grey*/
$font-color:#fff; /*white*/
$primary-color:#008ed6; /*light blue*/
$dark-overlay: rgba(0,0,0,0.7);
$icon-size:30px;

body{
  background:$bg-color;
  color:$font-color; /*navbar has its own color*/
}

.navbar{
  border-bottom:$primary-color 3px solid;
  opacity:0.8;
}

#home-section{
  background:url('../img/home.jpg') no-repeat; /*no-repeat useless*/
  background-size:cover; /*puts the img proportionally 2 screen size*/
  background-attachment:fixed;
  min-height:700px; /*height denmeli?*/

  .dark-overlay{ /*same as #home-section .dark-overlay if didnt nest*/
    background-color:$dark-overlay;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    min-height:700px;
  }

  .home-inner{
    padding-top:150px;
  }

  .card-form{
    opacity:0.8;
  }

  .fa{ /*font-awesome in #home-section*/
    color:$primary-color;
    background:#fff;
    padding:4px;
    border-radius:5px;
    font-size:$icon-size;
  }
}

#explore-section, #share-section{
  .fa{
    color:#fff;
    background:#333;
    padding:4px;
    border-radius:5px;
    font-size:$icon-size;
  }
}

#create-section{
  .fa{
    color:$primary-color;
    background:#fff;
    padding:4px;
    border-radius:5px;
    font-size:$icon-size;
  }
}
