/*grey*/
/*white*/
/*light blue*/
body {
  background: #333;
  color: #fff;
  /*navbar has its own color*/ }

.navbar {
  border-bottom: #008ed6 3px solid;
  opacity: 0.8; }

#home-section {
  background: url("../img/home.jpg") no-repeat;
  background-size: cover;/*puts the img proportionally 2 screen size*/
  background-attachment: fixed;
  min-height: 700px; /*height denebilir*/ }

  #home-section .dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px; }
  #home-section .home-inner {
    padding-top: 150px; }
  #home-section .card-form {
    opacity: 0.8; }
  #home-section .fa {
    /*font-awesome in #home-section*/
    color: #008ed6;
    background: #fff;
    padding: 4px;
    border-radius: 5px;
    font-size: 30px; }

#explore-section .fa, #share-section .fa {
  color: #fff;
  background: #333;
  padding: 4px;
  border-radius: 5px;
  font-size: 30px; }

#create-section .fa {
  color: #008ed6;
  background: #fff;
  padding: 4px;
  border-radius: 5px;
  font-size: 30px; }
